{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ title }}
{% endblock %}


{% block header %}
{% include 'inc/header.html' %}
{% endblock header %}


{% block content %}
<form id="form_login" method="post" style="width: 30%; align-self: center;">
    {% csrf_token %}
    <div class="row">
        <div class="input-field col s12">
          <input name="new_password1" id="password" type="password" class="validate">
          <label for="password">Новый пароль</label>
        </div>
      </div>
    <div class="row">
        <div class="input-field col s12">
          <input name="new_password2" id="password" type="password" class="validate">
          <label for="password">Подтверждение нового пароля:</label>
        </div>
      </div>
    <button class="btn waves-effect waves-light" type="submit" name="action">Задать пароль</button>
</form>
{% endblock content %}