{% extends 'base.html' %}
{% load static %}

{% block title %}
Sravnilka
{% endblock %}

{% block header %}
{% include 'inc/header_home.html' %}
{% endblock header %}

{% block content %}
<div class="container_cont">
	<form action="{% url 'search' %}" method="GET">
        <div class="input-field">
          <input id="search" type="search" required name="q">
          <label id="label" class="label-icon" for="search">Введите название</label>
          <button id="btn_search" type="submit"><i id="search_icon" class="material-icons">search</i></button>
        </div>
	</form>
</div>
{% endblock content %}