{% extends 'base.html' %}
{% load static %}

{% block title %}
QWE
{% endblock %}

{% block header %}
<div class="grid_element header">
    <img src="static/logoo.png" alt="">
</div>
{% endblock header %}

{% block content %}
<div class="grid_element search">
    <form action="{% url 'search' %}", method="GET">
        <input class="serchX" type="text" placeholder="Введите название книги" name="q" value="">
        <button type="submit" id="serchXbtn">Найти</button>
    </form>
</div>
{% endblock content %}