{% extends 'base.html' %}
{% load static %}

{% block header %}
<div class="grid_element header">
  <a href="{% url 'home' %}"><img src="{% static 'logoo.png' %}" alt=""></a>
  <div id="searchX2" class="grid_element search">
    <form action="{% url 'search' %}", method="GET">
        <input id="input2" class="serchX" type="text" placeholder="Введите название книги" name="q" value="">
        <button type="submit" id="serchXbtn">Найти</button>
    </form>
  </div>
</div>
{% endblock header %}

{% block content %}
<div class="grid_element content">
  {% if book_list %}
    {% for item in book_list %}
      <div class="product-card">
          <div class="product-tumb">
            <img src="{{item.img_link}}" alt="">
          </div>
          <div class="product-details">
            <span class="product-catagory">{{item.shop}}</span>
            <h4><a target="_blank" href="{{item.link}}">{{item.title}}</a></h4>
            <div class="product-bottom-details">
              <div class="product-price">{{item.price}} Руб</div>
            <button id="buyXbtn">Купить</button>
          </div>
        </div>
      </div>
    {% endfor %}
  {% endif %}
</div>
{% endblock content %}

{% block pagination %}
  {% include 'inc/pagination.html' %}
{% endblock pagination %}