<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
    
    <title>{{ title }}</title>
</head>
<body>
    <a href="http://127.0.0.1:8000/"><h1>QWE</h1></a>
    <hr>
    {% if search %}
        {% for item in search %}
            <img src="{{item.img_link}}" alt="">
            <h2>{{item.shop}} | <a target="_blank" href="{{item.link}} ">{{item.title}}</a> | {{item.author}} | {{item.price}} Руб.</h2>
            <hr>
        {% endfor %}
    {% else %}
        <h1>Ничего не найдено</h1>
    {% endif %}
</body>
</html>