<footer class="foot-bottom" class="footer-distributed">
    <div class="footer-right">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-github"></i></a>
    </div>
    <div class="footer-left">
        <p class="footer-links">
            <a class="link-1" href="{% url 'home' %}">Главная</a>
            <a href="{% url 'about' %}">О нас</a>
            <a href="{% url 'contacts' %}">Контакты</a>
        </p>
        <p>Qwe &copy; 2020</p>
    </div>
</footer>