<div class="container_foot">
	<footer id="foot" class="page-footer">
      <div class="foot_text col s6 m6 l6 xl6">
        <h5 class="color_text">Сравнилка книг</h5>
        <p class="color_text">Чтение книг — не способ бегства от жизни, книги дают ключ к ее пониманию. Ключ к реальности.</p>
      </div>
      <div class="list_links">
        <ul class="foot_links">
          <li><a class="color_text" href="{% url 'home' %}">Главная</a></li>
          <li><a class="color_text" href="{% url 'contacts' %}">Контакты</a></li>
          <li><a class="color_text" href="{% url 'about' %}">О нас</a></li>
        </ul>
      </div>
	</footer>
	<div class="footer-copyright">
        © 2021 Sravnilka
    </div>
</div>