@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
@import url(https://fonts.googleapis.com/css2?family=Pacifico&display=swap);

* {
    font-family: Roboto;
    margin: 0;
}

html, body {
    height: 100%;
}

.grid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.grid_element {
    color: #ffffff;
    padding: 10px;
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.header {
  display: flex;
  flex-direction: row;
}

#searchX2{
  margin-left: 47%;
}

#input2{
  width: 300px;
}


.search{
    justify-self: center;
    align-self: center;
}

.serchX {
    width: 500px;
    height: 33px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #8f9296;
    font-size: 17px;
    padding-left: 10px;
}

.serchX:focus {
    box-shadow: 0 0 5px 3px #7B5648;
    border: transparent;
  }


#serchXbtn {
    outline: none;
    height: 37px;
    border-radius: 5px;
    border: 1px solid #8f929660;
    font-size: 16px;
    background-color: #94766B;
    color: #fff;
}

#serchXbtn:focus {
    box-shadow: 0 0 5px 3px #7B5648;
    border: transparent;
  }

/* Footer  */


.foot-bottom {
    background-color: #f3f3f3;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 22px 23px;
}
  
.foot-bottom .footer-left p {
    color: #8f9296;
    font-size: 14px;
    margin: 0;
}



.foot-bottom p.footer-links {
    font-size: 18px;
    font-weight: bold;
    color: #7B5648;
    margin: 0 0 10px;
    padding: 0;
    transition: ease .25s;
  }
  
  .foot-bottom p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    transition: ease .25s;
  }
  
  .foot-bottom .footer-links a:before {
    content: "·";
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
  }
  
  .foot-bottom .footer-links .link-1:before {
    content: none;
  }
  
  .foot-bottom .footer-right {
    float: right;
    margin-top: 6px;
    max-width: 180px;
  }
  
  .foot-bottom .footer-right a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #7b5648c9;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
    transition:all .25s;
  }
  
  .foot-bottom .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}
  
  .foot-bottom p.footer-links a:hover{text-decoration:underline;}
  
  /* Media Queries */
  
  @media (max-width: 600px) {
    .foot-bottom .footer-left, .foot-bottom .footer-right {
      text-align: center;
    }
    .foot-bottom .footer-right {
      float: none;
      margin: 0 auto 20px;
    }
    .foot-bottom .footer-left p.footer-links {
      line-height: 1.8;
    }
  }



#buyXbtn {
  outline: none;
  height: 37px;
  border-radius: 5px;
  border: 1px solid #8f929660;
  font-size: 16px;
  background-color: #94766B;
  color: #fff;
  margin-left: 20%;
  margin-bottom: 2%;
}

#buyXbtn:focus {
  box-shadow: 0 0 5px 3px #7B5648;
  border: transparent;
}





  .product-card {
    display: flex;
    flex-direction: column;
    width: 250px;
    box-shadow: 0 5px 3px #7B5648;
    margin: 20px;
    background: #fafafa;
}



.product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 230px;
    padding: 20px;
    background: #f0f0f0;
}

.product-tumb img {
    max-width: 100%;
    max-height: 100%;
}

.product-details {
    padding: 10px;
}

.product-catagory {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 10px;
}

.product-details h4 a {
    font-weight: 500;
    display: block;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
}

.product-details h4 a:hover {
    color: #FF6544;
}

.product-details p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: #999;
}

.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 10px;
}

.product-bottom-details div {
    float: left;
    width: 50%;
}

.product-price {
    font-size: 18px;
    color: #FF6544;
    font-weight: 600;
    margin-top: 3%;
}